@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');


:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main: hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-dark-blue-main);
    margin: 4rem;
}

.container{
    background-color: var(--Very-dark-blue-card);
    padding: 1.5rem 1.5rem;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 350px;
    max-height: 650px;
   
}

.container h1{
    margin: 1rem 0.5rem 1rem 0;
}
img{
    max-width: 100%;
    border-radius: 15px;
}

h1,h2{
    color: var(--White);
}

p{
    color: var(--Soft-blue);
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid var(--Very-dark-blue-line);
    
}
ul{
    list-style: none;
    
    
}
span{
    color: var(--White);
}

.time{
    color: var(--Soft-blue);
}

.price{
    color: var(--Cyan);
}
.user{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    

}
li{
    display: flex;
    align-items: center;
    
}

.avatar{
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--White);
    border-radius: 100%;
    margin: 0 1rem;
}
.info img{
    margin: 0 0.5rem;
}

h1:hover{
    color: var(--Cyan);
    cursor: pointer;
}

span:hover{
    color: var(--Cyan);
    cursor: pointer;
}
.main-pic{
    background:none;
    position: relative;
}
.container .main-pic div{
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 4px);
    background-color: hsl(178, 100%, 50%,60%);
    z-index: 999; 
    opacity: 0;
}
.container .main-pic div:hover{
    opacity: 1;
    cursor: pointer;
    border-radius: 15px;
}

.container .main-pic div img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}